<!-- <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a href="https://google.fr">Google</a></li>
</ul> -->

<nav class="navbar navbar-expand-md navbar-light fixed-top bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./favicon.ico" alt="icone"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/contact">Contact</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>